@import 'base/variables';
@import 'base/base';
@import 'base/code';
@import 'base/syntax';
@import 'base/pagination';

@import 'layouts/home';
@import 'layouts/portfolio';
@import 'layouts/post';
@import 'layouts/layout';
@import 'layouts/footer';


@font-face {
  font-family: 'Carlito';
  src: url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Carlito', sans-serif;
}