---
layout: base
---

<div class="about">
  <div class="profile">
    <img class="selfie" alt="{{ site.author.name_kr }}" src="{{ site.author.selfie | relative_url}}" />
    <div class="info">
      <div class="title">{{ site.author.name_kr }}</div>
      <div class="description">{{ site.author.desc_kr }}</div>
    </div>
  </div>

  <div class="content">
    {{ content }}
    </br>
    <div class="social-layer">
      <div class="social-icons">
        <ul>
          {% include icons.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
